/* Repeticiones en varias secciones y estilos generales */

html{scroll-behavior: smooth;}

*{box-sizing: border-box;}

body{margin: 0;}

main{
    min-height: 250rem;
    background-color: #E6E6E9;
}

.center{
    text-align: center;
    margin: auto;
    font-family: 'Tenor Sans', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

a:hover{
    color: #bebec4;
    text-shadow: black 1.5px 1.5px;
}

section{
    width: 90%;
    margin: auto;
}

p{
    font-family: 'Tenor Sans', sans-serif;
    text-align: justify;
    font-size: 1rem;
}

.display{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.title{
    width: 100%;
    color: #03062B;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin: 2rem auto 0;
}

.title h1{margin-bottom: 1rem;}

hr{
    border: 0 solid #03062B;
    border-top-width: 0.1rem;
    margin: 1.5rem auto;
    width: 70%;
}

@media screen and (min-width: 768px){  
    .display{width: 90%;}
}